@charset "UTF-8";
/*基本レイアウト*/
img{
	max-width:250px;
	max-height:auto;
}
.notDisp{
	display:none;
}
th{
	background-color:#FF4F50;
}
td{
	background-color:#FFF8DC;
}
input.MovieName{
	width:90%;
}
input.MovieDescription{
	width:90%;
	height:4em;
	word-break:normal;
}
input.MovieAddress{
	width:100%;
}